@page
@model IdentityServerAspNetIdentity.Pages.ExternalLogin.Callback

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
        <form id="registerForm"  method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div class="form-floating">
                <label for="user_role">Choose who you are: </label>
                <select name="_user_role" id="user_role">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
        </form>
</div>
</body>
</html>