.main{
    width: 300px;
    background-color: #e4bdff;
    border-radius: 30px;
    box-shadow: 5px 3px 3px rgb(105, 79, 126);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin-right: 50px;
    height: 370px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    opacity: 1;
}


.title{
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(123, 0, 255);
    margin-left: 20px;
    height: 68px;
}

.description{
    color: black;
    margin-bottom: 20px;
    height: 150px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.moreButton{
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #ab60ff;
    text-shadow: 2px 2px 2px rgb(73, 42, 86);
    text-align: center;
    padding: 3px;
    padding-top: 7px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 5px 3px 3px rgb(105, 79, 126);
    cursor: pointer;
}

.deleteButton{
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #ab60ff;
    text-shadow: 2px 2px 2px rgb(73, 42, 86);
    text-align: center;
    padding: 3px;
    padding-top: 7px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 5px 3px 3px rgb(105, 79, 126);
    cursor: pointer;
}

.addForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addForm__inputName{
    width: 250px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(188 128 255);
    box-shadow: 5px 3px 3px rgb(130 0 235);
    opacity: 0.8;
    background-color: #f6f2ff;
    color: #44008b;
}

.addForm__inputDesc{
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 30px;
    border: 2px solid rgb(188 128 255);
    box-shadow: 5px 3px 3px rgb(130 0 235);
    text-decoration: none;
    resize: none;
    background-color: #f6f2ff;
    opacity: 0.8;
    color: #44008b;
}

.addForm__submit{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #ab60ff;
    border: none;
    text-shadow: 2px 2px 2px rgb(48 0 91);
    cursor: pointer;
    box-shadow: 5px 3px 3px rgb(98 15 163);
}