.main{
    width: 300px;
    border-radius: 30px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin-right: 50px;
    height: 370px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-decoration: none;
}

.main__teacher{
    background-color: #b55cf2c4;
    box-shadow: 5px 3px 3px rgb(105, 79, 126);
}

.main__student{
    background-color: #9562ffb8;
    box-shadow: 5px 3px 3px #604f7e;
}

.title{
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    margin-left: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(73, 42, 86);
}

.description{
    color: white;
    margin-bottom: 20px;
    height: 150px;
    overflow: auto;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.button{
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    color: white;
    text-align: center;
    padding: 3px;
    padding-top: 7px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.button__teacher{
    background-color: #ab60ff;
    text-shadow: 2px 2px 2px rgb(73, 42, 86);
    box-shadow: 5px 3px 3px rgb(105, 79, 126);
}

.button__student{
    background-color: #958efd;
    text-shadow: 2px 2px 2px rgb(52, 42, 86);
    box-shadow: 5px 3px 3px rgb(98, 93, 162);
}


.moreButton{
    margin-left: 20px;
    
}

.deleteButton{
    margin-right: 20px;
}


.addForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addForm__inputTitle{
    width: 250px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(188 128 255);
    box-shadow: 5px 3px 3px rgb(130 0 235);
    opacity: 0.8;
    background-color: #f6f2ff;
    color: #44008b;
}

.addForm__inputDesc{
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 30px;
    border: 2px solid rgb(188 128 255);
    box-shadow: 5px 3px 3px rgb(130 0 235);
    text-decoration: none;
    resize: none;
    background-color: #f6f2ff;
    opacity: 0.8;
    color: #44008b;
}

.addForm__submit{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #ab60ff;
    border: none;
    text-shadow: 2px 2px 2px rgb(48 0 91);
    cursor: pointer;
    box-shadow: 5px 3px 3px rgb(98 15 163);
}