html {
  font-size: 14px;
}

a{
    text-decoration:none;
    color:blueviolet;
}

.container{
    display:flex;
    justify-content:center;
}

footer{
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:lightskyblue;
    color:black;
    height:30px;
    width:100vw;
}